# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
.vscode/
*.iml
.classpath
.project
.settings/

# Sistema
*.log

# Tooling local del curso
*.atl/
Context/

# Artefactos de cobertura generados
coverage.out
coverage.html
